<% if params[:pattern_id] %>
    <h1>View Comments for <%= @pattern.pattern_name.capitalize %>:</h1>
<% else %>
    <h1>View Comments:</h1>
<% end %>
<hr>
<%# how to insert pattern_name into title %>

<% @comments.each do |comment| %>
    <% if params[:pattern_id] %>
        <p><strong><%= comment.user.username.capitalize %> says: </strong><%= comment.content %></p>
    <% else %>
        <p><strong><%= comment.user.username.capitalize %> says: </strong><%= comment.content %> about <%= link_to comment.pattern.pattern_name, pattern_path(comment.pattern) %></p>
    <% end %>
<% end %>