<% if params[:pattern_id] %>
    <h1>View Comments for <%= @pattern.pattern_name.capitalize %>:</h1>
    <hr>
    <%= link_to "Create Comment", new_pattern_comment_path(@pattern) %>
<% else %>
    <h1>View Comments:</h1>
<% end %>
<hr>

<% @comments.each do |comment| %>
    <% if params[:pattern_id] %>
        <p><strong><%= comment.user.username.capitalize %></strong> rates this pattern a <strong><%= comment.rating %></strong> and says: <em><%= comment.content %></em></p>
    <% else %>
        <p><strong><%= comment.user.username.capitalize %></strong> gives <%= link_to comment.pattern.pattern_name, pattern_path(comment.pattern) %> a rating of <strong><%= comment.rating %> </strong> and says: <em><%= comment.content %></em></p>
    <% end %>
<% end %>