
<% if @pattern.errors.any? %>
    <div id="error_explanation">
        <h3>Oops! <%= pluralize(@pattern.errors.count, "error") %> prohibited this pattern from being saved:</h3>

        <ul>
        <% @pattern.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
<% end %>

<%= form_for(@pattern) do |f| %>
    <%= f.label :pattern_name %>:&nbsp;
    <%= f.text_field :pattern_name %><br><br>

    Difficulty <%= f.label :level %>:&nbsp;
    <%= f.number_field :level, :in => 1..5, :step => 1 %><br><br>

    <%= f.label :gauge %>:&nbsp;
    <%= f.text_field :gauge %><br><br>

    <%= f.label :instructions %>:<br>
    <%= f.text_area :instructions %><br><br>

    <%= f.label :notes %>:&nbsp;
    <%= f.text_field :notes %><br><br>

    <%= f.submit %>

<% end %>