<h2><%= @pattern.pattern_name.capitalize %></h2>
<hr>

    <p><strong>Difficulty Level: </strong><%= @pattern.level %></p>
    <p><strong>Gauge: </strong><%= @pattern.gauge %></p>
    <p><strong>Instructions: </strong><%= @pattern.instructions %></p>
    <p><strong>Notes: </strong><%= @pattern.notes %></p>
    
    <% if current_user.id != @pattern.user.id %>
        <p><strong>Created by: </strong><%= @pattern.user.username %></p>
    <% end %>
    <hr>

    <%= link_to "Make a Comment", new_pattern_comment_path(@pattern) %>&nbsp;|&nbsp; 
    <%= link_to "View Comments", pattern_comments_path(@pattern) %>


